@for $i from 1 through $grid-columns {
  .col-mobile-#{$i} {
   width: 100% / $grid-columns * $i;
  }
}

@media (min-width:$breakpoint-mobile) {
  @for $i from 1 through $grid-columns {
    .col-tablet-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
  .numbers-columns {
    text-align: left;
  }
}
@media (min-width:$breakpoint-tablet) {
  @for $i from 1 through $grid-columns {
    .col-desktop-#{$i} {
     width: 100% / $grid-columns * $i;
    }
  }
}

[class*='col-'] {
  float: left;
  padding: 0px 15px;
  position: relative;
  border: 1px solid red;
}

.numbers-columns {
  height: 80px;
}
