*,*:before, *:after {
  @include border-box;
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  background-color: green;
  border: 1px solid red;
  height: 80px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}
.form-nav {
  border: 1px dashed yellow;
}
.nav-logo {
  float: left;
}

.nav-logo img {
  height: 50px;
  width: 100px;
}

.button-nav {
  background-color: green;
  border: none;
}

// .button-nav img {
//   padding: 2px 2px 0px 0px;
//   height: 15px;
//   width: 15px;
// }

.nav-list li {
  float: right;
  list-style: none;
  float: left;
  letter-spacing: 1px;
}

ul {
  float: right;
}
